body{
    margin:0;
    padding: 0;
    background:rgb(16, 16, 16);
}

p {
    font-size:10px;
    line-height:12px;
    text-align:justify;
    -webkit-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(/img/pic2.jpg) no-repeat top/cover;
    background-attachment: local;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}